<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

    <body id="blue-layout">
        <!-- Header Begins -->
        <header id="header" class="navbar-light">
                <nav class="navbar navbar-default no-margin  navbar-fixed-top">
                    <div class="container relative">
                        <div class="navbar-header">
                            <!-- Mobile View Menu Toogle Btn -->
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                              <span class='icon-bar'></span>
                              <span class='icon-bar'></span>
                              <span class='icon-bar'></span>
                            </button>
                            <!-- Site Logo -->
                            <a class="navbar-brand vertical-left-align-middle-block" href="/" id="scroll"><img alt="logo" src="img/logo-color.png"></a>
                        </div>
                        <!-- Nav Menu -->
                        <div id="navbar" class="navbar-collapse collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <!-- Dropdown Menu begins -->
                                <li class="dropdown"><a href="/" class="scroll">Home</a> </li>
                                <li class="dropdown"><a href="/#about" class="scroll">About Firm</a></li>
                                <li class="dropdown"><a href="/#practise" class="scroll">Services</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/services#estate">Real Estate</a></li>
                                        <li><a href="/services#sales">Sales &amp; Trading</a></li>
                                        <li><a href="/services#wealth">Wealth Management</a></li>
                                        <li><a href="/services#global">Investment Banking</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/#advisory" class="scroll">Advisory Approach</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="/advisory#you">Understanding You</a></li>
                                        <li><a href="/advisory#asset">Allocating Assets</a></li>
                                        <li><a href="/advisory#track">Tracking Progress</a></li>
                                        <li><a href="/advisory#implement">Portfolio Strategy</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="/#consult" class="scroll">Contact</a></li>
                                <li class="dropdown"><a href="/login-main" class="scroll">Login</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="http://www.sterneageeaccountaccess.com" target="_blank">Client Login</a></li>
                                        <li><a href="#header">Financial Advisor</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- Right navbar Ends -->
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                    <!--/.container-fluid -->
                </nav>
                <!-- nav Ends -->
        </header>
        <!-- Header Ends -->
        <!-- Page Header -->
        <div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">Financial Advisor Login</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Financial Advisor Login</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Begins -->
        <section id="about" class="about-section border-hidden">
            <div class="container">
                <div class="row">
                    <div class="col-sm-offset-2 col-sm-6 text-center pad20-top pad10-bottom red-bold-text"><%= alert %></div>
                </div>
                <!-- Content Begins -->
                <div class="row">
                    <div class="text-center">
                    <!-- Block Begins -->
                    <form class="form-horizontal ws-validate" role="form" method='POST' action='/login'>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="email">Email:</label>
                          <div class="col-sm-6">
                            <input type="email" class="email form-control" id="email" name='email' required placeholder="Enter email" value='<%= email %>' onkeypress='lowerCase(this)'>
                          </div>
                        </div>
                        <div class="form-group">
                          <label class="control-label col-sm-2" for="pwd">Password:</label>
                          <div class="col-sm-6">
                            <input type="password" class="form-control" id="pwd" name='password' required placeholder="Enter password">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="col-sm-offset-2 col-sm-6">
                            <button type="submit" class="btn btn-default active ">Submit</button>
                            </div>
                              <div class="register pad40-top col-sm-offset-2 col-sm-6">
                                <button type="button" class="btn btn-default active" onclick="window.location='/register'">Sign Up</button>
                              </div>
                         </div>
                      </form>
                        <div class='col-sm-offset-2 col-sm-6'><a href='/recovery'>Forgot Password?</a></div>
                    </div>
                   </div>
                    <!-- Block Ends -->
                </div>
            <!-- container -->
        </section>
        <%- include('partials/loginFooter.ejs') %>
        <script>
        //lowerCase email in form on keyup
        $('#email').keyup(function() {
          this.value = this.value.toLowerCase();
        })
        </script>
    </body>
</html>
