<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head.ejs') %>
    
    <body id="blue-layout">
        <%- include('partials/nav.ejs') %>
        
        <!-- Page Header -->
        <div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">Financial Adivsor Login</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Financial Adivsor Login</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header -->
        <!-- Section Begins -->
        <section id="about" class="about-section border-hidden">
            <div class="container">
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                            <center>
                                 <h2 class=" text32 text300 no-margin">Check your email for your temporary password.</h2>
                                 <div class='pad30-top'></div>
                                 <button type="button" class="btn btn-default active" onclick="window.location='/login'">Login</button>
                            </center>
                        </div>     
                    </div>   
                </div>
            </div>
        </section>

        <%- include('partials/loginFooter.ejs') %>
    </body>
</html>