<!DOCTYPE html>
<html lang="en">
    
    <%- include('partials/head.ejs') %>
    
    <body id="blue-layout">
        
        <%- include('partials/nav.ejs') %>
        
        <!-- Header Ends -->
        <!-- Page Header -->
        <div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">Financial Advisor Login</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Financial Advisor Login</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header -->
        <!-- Section Begins -->
        <section id="about" class="about-section border-hidden">
            <div class='row'>
                <div class='col-md-2 col-lg-2'></div>
                <iframe class='col-xs-12 col-md-8 col-lg-8' src="https://app.box.com/embed_widget/s/tfij4tq4ryyomptn4bkngpxbxw0vn7ws?view=list&sort=date&direction=ASC&theme=gray"  height="500" frameborder="0" allowfullscreen webkitallowfullscreen msallowfullscreen> </iframe>
            </div>
            <center>
                <br/>
                <br />
            <a href="/logout"><button type="button" class="btn btn-default active">Logout</button></a>
                </center>
        </section>

        <%- include('partials/loginFooter.ejs') %>
        
    </body>
</html>