<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head.ejs') %>

    <body id="blue-layout">
        <%- include('partials/nav.ejs') %>

        <!-- Page Header -->
        <div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">Login</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="/">Home</a></li>
                            <li class="active">Login</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header -->
        <!-- Section Begins -->
        <section id="about" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <!-- Title Ends -->
                <!-- Content Begins -->
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                            <center>
                                <a href="http://www.sterneageeaccountaccess.com" target="_blank"><button type="button" class="btn btn-primary active">Client Login</button></a>
                                <a href="/login"><button type="button" class="btn btn-primary active">Financial Advisor</button></a>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Section Begins -->

        <%- include('partials/loginFooter.ejs') %>

        </body>
</html>
