<!DOCTYPE html>
<html lang="en">
     <%- include('partials/head.ejs') %>
    
    <body id="blue-layout">

      <%- include('partials/nav.ejs') %>  
        
        <!-- Page Header -->
        <div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">Risk Disclosures</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="index3.html">Home</a></li>
                            <li class="active">Risk Disclosures</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header -->
       <!-- Section Begins -->		
        <section id="track" class="about-section border-hidden">
            <div class="container">     
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                        <p class="attorney-desc no-margin margin10-top margin10-bottom text600">PMMX, a registered broker-dealer, supports a diverse array of businesses with and through its clearing firm Sterne Agee &amp; Leach Clearing. (“Sterne Agee ”) enterprise. PMMX is, for example, a distributor of mutual funds and group variable annuity products, an introducing broker for retirement plans, a clearing broker for certain mutual fund wrap fee programs, and a full-service Broker Dealer. Its registered representatives offer, individual clients and/or to institutions, a variety of securities products, including stocks, bonds, mutual funds, separately managed accounts, retirement plan securities, limited partnerships, and more. We have offices and operations throughout the United States, but are primarily located in the Northeast with our largest offices in New York and New Jersey. Each PMMX office maintains its own business continuation plan that provides for alternative operating sites, back-up facilities and systems. </p>
                    <!-- Block Ends -->
                    <!-- block -->
                        <p class="attorney-desc no-margin margin10-top margin10-bottom text600">This material is not intended as tax or legal advice, so please do speak with your attorney and CPA prior to considering an investment. </p>
                    <!-- Block Ends -->
                    <!-- block -->
                        <p class="attorney-desc no-margin margin10-top margin10-bottom text600">This website contains information that has been obtained from sources believed to be reliable. However,PrimeX and their representatives do not guarantee the accuracy and validity of the information herein. Investors should perform their own investigations before considering any investment.</p>
                    <!-- Block Ends -->
                    <!-- block -->
                        <p class="attorney-desc no-margin margin10-top margin10-bottom text600">There are material risks associated with investing in real estate, REITS, DST, TIC and Fractional NNN properties. These include, but are not limited to, tenant vacancies; declining market values; potential loss of entire investment principal; that past performance is not a guarantee of future results; that potential cash flow, potential returns, and potential appreciation are not guaranteed in any way; adverse tax  consequences and that real estate is typically an illiquid investment.</p> 
                    <!-- Block Ends -->
                    <!-- block -->
                        <p class="attorney-desc no-margin margin10-top margin10-bottom text600">Please read carefully the Memorandum and/or investment prospectus in its entirety before making an investment decision. Please pay careful attention to the “Risk” section of the PPM/Prospectus. This material is not intended as tax or legal advice, so please do speak with your attorney and CPA prior to considering an investment. </p> 
                    <!-- Block Ends -->
                    </div>
                </div>
            </div>
            <!-- container -->
        </section>
       <!-- case-resolving -->
		<section id="case-resolving" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Are you ready to safeguard your Future?</h2>
                        <a href="index3.html#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section><!-- /case-resolving -->
   
        <%- include('partials/footer.ejs') %>
      <%- include('partials/scripts.ejs') %>  
        
    </body>
</html>