<div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">About Firm</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="index3.html">Home</a></li>
                            <li class="active">About Firm</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header -->
        <!-- Section Begins -->
        <section id="about" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Who We Are</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                            <p id='1'>Primex is a leading global investment banking, securities and investment management firm that provides a wide range of services worldwide. Primex services its clientele, ranging from individual investor to institution, with a full array of banking, investing, real estate, asset management and other financial and risk-management products and services. We employ balanced investment strategy, coupled with and utilize cutting-edge technologies to produce high-quality results in the investing arena. PRIMEX is a member of the Financial Industry Regulatory Authority (FINRA), Securities Investors Protection Corporation (SIPC). From corporate finance services, retirement planning and wealth management, our financial experts are prepared to accommodate the needs of all investors.</p>

<p>PrimeX was founded in 1991 as a national full service investment brokerage firm by Cary Grant co-founder of Third Market Corp, Inc. Since that time our mission was to create an environment where intelligent investment professionals could offer investment opportunities to discerning investors. We've made substantial progress in accomplishing that goal with over two decades in business. While we've undergone many changes since we started the business, day to day operations are still headed by seasoned professionals. PrimeX is one of Wall Street's few remaining private investment banking firms.</p>

<p>PrimeX is a recognized and respected member of the investment community. We have earned this recognition through our performance with our clients head on, with initiative, insight and innovation. Our professionals offer a wealth of expertise accumulated from their experience in firms throughout the industry.</p>

<p>The key to our success lies in the unwavering commitment to provide a high level of service and attention to our valued clients. Every one of our clients is treated with the utmost care according to their needs and regardless of the size of their investment portfolio.</p>

<p>We have found that by harnessing the power and the resources of PrimeX, our clearing firm (Sterne Agee Inc.,) and combining the resources and expertise of PrimeX's Brokerage, Retirement, and Real Estate we are able to provide our clients with a diverse menu of investment products. This access to a full spectrum of investment products and expertise has proven vital for the successful achievement of each client’s personal financial goals no matter what the economic landscape demands. We invite you to explore this site and see for yourself what our clients have been discovering since 1991.</p>
                        </div>     
                    </div>
                    <!-- Block Ends -->
   
                </div>
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->
        <!-- Section Begins -->		
        <!-- case-resolving -->
		<section id="questions" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Have questions for us?</h2>
                        <a href="index3.html#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section><!-- /case-resolving -->
        <!-- Section Ends -->	
        <!-- Section Begins -->
        <section id="vision" class="practise-section section-light">
            <div class="container">
                <!-- Title Block -->
                <div class="row margin60-bottom">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Our Vision</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->
                <div class="row">
                  <div class="col-sm-12">
                         <div class="content-block text-justify">
                            <p>Is simple, we believe our clients come first. We believe in taking the time to create a mutual understanding to meet the needs and investment goals of our clientele. We do this to ultimately bring you around the other side of the table - to where we are positioned, as part of the quintessential harmony, thereby turning goals into realities. </p>

<p>Our mission is to guide our clients through a process of analyzing and reviewing their personal investment goals, and to assist them in achieving those goals. We believe this is an ongoing, everchanging process, as is life, the market, the economy, and its everchanging events.</p>

<p>Guided by integrity and our strive to become the archetype amongst investment professionals, our Financial Advisors are highly qualified professionals who offer their clients personal attention, advice, and superior investment products and services.</p>
                        </div>     
                    </div>
                </div>
                <!-- Content Ends -->
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->	
        <!-- Section Begins -->
       <!-- Section Begins -->
       <!-- case-resolving -->
		<section id="case-resolving" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Are you ready to safeguard your Future?</h2>
                        <a href="index3.html#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section><!-- /case-resolving -->