<!-- Section Begins -->
        <section id="footer" class="footer-section section-light">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 margin-30-top-767 animated owl-btn-left-right ">
                        <!-- BLock Begins -->
                        <div class="short-news">
                            <h3 class="signika text20 margin20-bottom foot-title">Main Office </h3>
                            <div class="text15 cabin no-margin text-gray">
                                <img src="./img/mapIcon.png">
                                <span><a href="https://www.google.com/maps/place/54+W+21st+St,+New+York,+NY+10010/@40.741193,-73.9930813,17z/data=!3m1!4b1!4m2!3m1!1s0x89c259a367efb35b:0xcabb553e1b400dbb" target="_blank">54 West 21 Street, 12 Floor, New York, NY 10010</a></span>
                            </div>
                            <div class="text15 cabin margin10-top text-gray">
                               <i><img src="./img/phone.png"></i><span><a href="tel:+18776789830">(877)-678-9830</a></span>
                            </div>
                            <div class="text15 cabin margin10-top text-gray">
                                <i><img src="./img/email.png"></i><span><a href="mailto:info@primexprime.com">info@primexprime.com</a></span>
                            </div>
                            <br/>
                        </div>
                        <div>
                            Policies
                            <br/>
                            <a href="/privacy">Privacy &amp; Security </a>
                            <br/>
                            <a href="/business">Business Continuity </a>
                            <br/>
                            <a href="/risks">Risk Disclosures</a>
                            <br/>
                            <a href="/privacy#laundering">Anti Money Laundering (CIP)</a>
                            <br/><br/>  
                            Member
                            <br />
                            <a href="http://www.finra.org/" target="_blank">FINRA </a>
                            <br />
                            <a href="http://sipc.com/" target="_blank">SIPC </a>
                            <br />
                            <a href="http://www.sec.gov/" target="_blank">SEC </a>
                            <br />
                            <a href="http://www.adisa.org/Home" target="_blank" >ADISA</a>
                        </div>
                    </div>
                      <div class="col-md-8 animated owl-btn-left-right ">
                          <br />
                        		<div id="map-wrapper"></div><!-- map-wrapper -->
                        <!-- BLock Ends -->
                    </div>
                    <!-- col -->
                </div>
				<div class="row animated owl-btn-left-right ">
                    <div class="col-xs-12 text-center">
                        <div class="copy-rights cabin">
                            <p class="no-margin">@2015 PRIMEX PRIME ELECTRONIC EXECUTION INC. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Ends -->