        <div class="slider relative">
            <div id="heroPic">
              <picture>
                <source media="(min-width: 650px)" srcset="img/bg/bg11.jpg">
                <img  class="image-bg bg-no-repeat bg-cover vh-vw" src="img/bg/bgMobile1.jpg" alt="Old man sitting on a bench in a desert">
             </picture>
            </div>
            <div class="wide-container vh-vw">
                <!-- Slider Content -->
                <div class="hero-content left-middle-block z-index9">
                    <div class="container">
                        <div class="row">
                            <div class="owl-example1">
                                <div class="item">
                                    <h1 class="text300">Solution For Your Needs</h1>
                                    <p class="margin20-top">Primex Financial Advisors Will Help You To Realize Your Financial Blueprint
                                    <p>
                                    <ul class="button-set margin30-top">
                                        <li><a href="#practise" id="scroll" class="btn btn-default active">Services</a></li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <h1 class="text300">Over 25 Years Since Inception</h1>
                                    <p class="margin20-top">Our Experienced Professionals Focus Exclusively On Servicing Our Clients
                                    <p>
                                    <ul class="button-set margin30-top">
                                        <li><a href="#about" id="scroll" class="btn btn-default active">About Us</a></li>
                                    </ul>
                                </div>
                                <div class="item">
                                    <h1 class="text300">Contact Us</h1>
                                    <p class="margin20-top">Our Primex Account Executives Are Standing By
                                    <p>
                                    <ul class="button-set margin30-top">
                                        <li><a href="#consult" id="scroll" class="btn btn-default active">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- container -->
                </div>
                <!-- Ends Content -->
            </div>
            <!-- wide Container -->
        </div>
        <!-- Section Begins -->
        <section id="about" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <div class="row margin60-bottom">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">About Us</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-4 effect-parent animated">
                        <div class="content-block text-justify">
                            <div class="effect-parent">
                                <img alt="about" src="./img/about/1.jpg" class="img-responsive">
                                <div class="effect color"></div>
                            </div>
                            <h4 class="no-margin margin30-top margin20-bottom">Who We Are</h4>
                            <p class="no-margin margin30-bottom">Primex is a leading global investment banking, securities and investment management firm that provides a wide range of services worldwide. Primex services its clientele, ranging from individual investor to institution, with a full array of banking, investing, real estate, asset management and other financial and risk-management products and services.</p>
                            <a href="/about#about" class="btn btn-sm">Learn more</a>
                        </div>
                    </div>
                    <!-- Block Ends -->
                    <!-- Block Begins -->
                    <div class="col-sm-4 effect-parent margin30-top-767 animated">
                        <div class="content-block text-justify">
                            <div class="effect-parent">
                                <img alt="about" src="./img/about/2.jpg" class="img-responsive">
                                <div class="effect color"></div>
                            </div>
                            <h4 class="no-margin margin30-top margin20-bottom">Our Journey</h4>
                            <p class="no-margin margin30-bottom">PrimeX was founded in 1991 as a national full service investment brokerage firm by Cary Grant co-founder of Third Market Corp, Inc. Since that time our mission was to create an environment where intelligent investment professionals could offer investment opportunities to discerning investors. We've made substantial progress in accomplishing that goal with over two decades in business.</p>
                             <a href="/about#about" class="btn btn-sm">Learn more</a>
                        </div>
                    </div>
                    <!-- Block Ends -->
                     <!-- Block Begins -->
                    <div class="col-sm-4 effect-parent margin30-top-767 animated">
                        <div class="content-block text-justify">
                            <div class="effect-parent">
                                <img alt="about" src="./img/about/3.jpg" class="img-responsive">
                                <div class="effect color"></div>
                            </div>
                            <h4 class="no-margin margin30-top margin20-bottom">Our Vision</h4>
                            <p class="no-margin margin30-bottom">It is simple, we believe our clients come first.  Our mission is to guide our clients through a process of analyzing and reviewing their personal investment goals, and to assist them in achieving those goals. We believe this is an ongoing, everchanging process, as is life, the market, the economy, and its everchanging events.</p>
                             <a href="/about#vision" class="btn btn-sm">Learn more</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->
        <!-- Section Begins -->
		<section id="questions" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Have questions for us?</h2>
                        <a href="#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section>
        <!-- Section Ends -->
        <!-- Section Begins -->
        <section id="practise" class="practise-section section-light">
            <div class="container">
                <!-- Title Block -->
                <div class="row margin60-bottom">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Services</h2>
                            <p>PrimeX representatives strive to help its clients reach their financial objectives by personalizing services to our client's needs.</p>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->
                <div class="row margin80-top">
                    <!-- Block Begins -->

                     <div class="col-sm-12 col-lg-3 animated">
                        <div class="content-block text-left">
                            <img src="./img/globe.png">
                            <h4 class="no-margin margin30-top margin10-bottom">Investment Banking</h4>
                            <p >PrimeX's offers a full range of investment banking services and seeks to work with companies with strong management teams, unique products, viable technologies, high growth potential, and a superior business model. By concentrating on companies with these properties, PrimeX strives to reduce the risk of investing in high growth/high potential enterprises.</p>
                            <a href="/services#global" class="link text-dark hvr-color-text upper text13"><b>read more</b></a>
                            <div><br/><br/><br/></div>
                        </div>
                    </div>
                    <!-- Block Ends -->
                    <!-- Block Begins -->
                    <div class="col-sm-12 col-lg-3 animated">
                        <div class="content-block text-left">
                            <img src="./img/house.png">
                            <h4 class="no-margin margin30-top margin10-bottom">Real Estate</h4>
                            <p >PrimeX is focused on helping our clients throughout the country locate Real Estate Investment Trusts (REITs), Delaware Statutory Trusts (DST), Tenant-In-Common (TIC) and Fractional Triple Net (NNN) properties that are not available through most investment advisors and real estate agents.</p>
                            <a href="/services#estate" class="link text-dark hvr-color-text upper text13"><b>read more</b></a>
                            <div><br/><br/><br/></div>
                        </div>
                    </div>
                    <!-- Block Ends -->
                    <!-- Block Begins -->
                    <div class="col-sm-12 col-lg-3 animated">
                        <div class="content-block text-left">
                            <img src="./img/suitcase.png">
                            <h4 class="no-margin margin30-top margin10-bottom">Sales &amp; Trading</h4>
                            <p >At PrimeX, whether your transaction is one hundred shares or a block trade, it receives the same professional attention and speed of execution. Individual investors benefit from the experienced trading capabilities that enable the firm to complete large, difficult, transactions on national exchanges.</p>
                            <a href="/services#sales" class="link text-dark hvr-color-text upper text13"><b>read more</b></a>
                            <div><br/><br/><br/></div>
                        </div>
                    </div>
                    <!-- Block Ends -->
                    <!-- Block Begins -->
                    <div class="col-sm-12 col-lg-3 animated">
                        <div class="content-block text-left">
                            <img src="./img/notebook.png">
                            <h4 class="no-margin margin30-top margin10-bottom">Wealth Management</h4>
                            <p >With over two decades of experience, PrimeX's financial advisors strive to provide excellent investment management services. Our size and independence allow our advisors to provide undivided attention and dedicated service. We take great pride in fully understanding the unique needs of each of our clients.</p>
                            <a href="/services#wealth" class="link text-dark hvr-color-text upper text13"><b>read more</b></a>
                            <div><br/><br/><br/></div>
                        </div>
                    </div>
                    <!-- Block Ends -->
                </div>
                <!-- Content Ends -->
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->
        <!-- Section Begins -->
		<section id="case-resolving" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Are you ready to safeguard your Future?</h2>
                        <a href="#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section>
        <!-- Section Ends -->
        <!-- Section Begins -->
        <section id="advisory" class="attorney-section">
            <div class="container">
                <!-- Title Block -->
                <div class="row margin60-bottom">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Advisory Approach</h2>
                            <p>At PrimeX, we carefully craft investment solutions using a disciplined approach. This multi-step process allows our clients to implement a planned approach to investment success.</p>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <div class="row pad60-top">
                    <!-- Advisory Block begins --------------------------------------------------------------------------------->
                    <div class="col-sm-12 col-lg-6 animated">
                        <div class="attorney-block">
                            <img src="img/advisory/1.jpg" class="img-responsive attorney-img radius left-middle-block1">
                            <!-- Advisory Caption begins -->
                            <div class="attorney-caption">
                                <h4 class="attorney-name no-margin">Understanding You</h4>
                                <p class="attorney-desc no-margin margin10-top margin10-bottom text600">A personalized process that helps you achieve investment success begins with an understanding of your investment goals and objectives.</p>
                                <a href="/advisory#you" class="link text-dark upper"><b>learn more</b></a>
                            </div>
                            <!-- Advisory Caption Ends -->
                        </div>
                    </div>
                    <!-- Advisory Block Ends -->
                    <!-- Advisory Block begins -->
                    <div id="assets" class="col-sm-12 col-lg-6 margin30-top-767">
                        <div class="attorney-block animated">
                            <img src="img/advisory/2.jpg"  class="img-responsive attorney-img radius left-middle-block1">
                            <!-- Advisory Caption begins -->
                            <div class="attorney-caption">
                                <h4 class="attorney-name no-margin">Allocating Your Assets</h4>
                                <p class="attorney-desc no-margin margin10-top margin10-bottom text600">Asset allocation is a systematic approach to balancing risk and return in a portfolio. Its goal is to deliver the most return for a given level of risk, and it requires that investors be realistic about return expectations and their comfort with market ups and downs.</p>
                                <a href="/advisory#asset" class="link text-dark upper"><b>learn more</b></a>
                            </div>
                            <!-- Advisory Caption Ends -->
                        </div>
                    </div>
                    <!-- Advisory Block Ends -->
                </div>
                <!-- row -->
                <div class="row pad60-top margin80-top margin30-top-767  pad10-top-767">
                    <!-- Advisory Block begins -->
                    <div class="col-sm-12 col-lg-6 animated">
                        <div class="attorney-block">
                            <img src="img/advisory/3.jpg"  class="img-responsive attorney-img radius left-middle-block1">
                            <!-- Advisory Caption begins -->
                            <div class="attorney-caption">
                                <h4 class="attorney-name no-margin">Implementing Your Portfolio Strategy</h4>
                                <p class="attorney-desc no-margin margin10-top margin10-bottom text600">Important considerations for structuring your portfolio include making recommendations from a wide range of investment alternatives.</p>
                                <a href="/advisory#implement" class="link text-dark upper"><b>learn more</b></a>
                            </div>
                            <!-- Advisory Caption Ends -->
                        </div>
                    </div>
                    <!-- Advisory Block Ends -->
                    <!-- Advisory Block begins -->
                    <div id="progress" class="col-sm-12 col-lg-6 margin30-top-767">
                        <div class="attorney-block animated">
                            <img src="img/advisory/4.jpg" class="img-responsive attorney-img radius left-middle-block1">
                            <!-- Advisory Caption begins -->
                            <div class="attorney-caption">
                                <h4 class="attorney-name no-margin">Tracking Your Progress</h4>
                                <p class="attorney-desc no-margin margin10-top margin10-bottom text600">Your portfolio is monitored to ensure that it remains appropriate for your needs and in-line with our expectations. </p>
                                <a href="/advisory#track" class="link text-dark upper"><b>learn more</b></a>
                            </div>
                            <!-- Advisory Caption Ends -->
                        </div>
                    </div>
                    <!-- Advisory Block Ends ------------------------------------------------------------------------------------------->
                </div>
                <!-- row -->
                <div class="margin50-top"></div>
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->
        <!-- Section Begins -->
        <section id="consult" class="text-center bg-image bg-charm">
            <div class="parallax-bg bg-no-repeat bg-cover" ></div>
            <div class="overlay color"></div>
            <div class="container relative z-index9">
                <!-- Title Block -->
                <div class="row margin0-bottom">
                    <div class="col-xs-12 animated">
                        <div class="title-block center-title no-border-title white-title">
                            <h2 class="section-title">contact us
                            </h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Consultant Form Block -->
                <div class="row">
                    <div id="formid" class="col-md-8 col-md-offset-2 ">
                        <p class="form-message"></p>
                        <div class="text-center">
                            <!-- Form Begins -->
                            <form class="transparent-form  ws-validate" id='form'  method="POST" action="/form" >
                                <div class="row">
                                    <!-- Field 1 -->
                                    <div class="col-sm-6 animated">
                                        <div class="input-text form-group">
                                            <input type="text" id="contact_name"  name="contact_name" class="form-control"   placeholder="Name" required/>
                                        </div>
                                    </div>
                                    <!-- Field 2 -->
                                    <div class="col-sm-6 animated">
                                        <div class="input-email form-group">
                                            <input id ="contact_email" type="email" name="contact_email" maxlength="82"   class="input-email form-control" placeholder="Email" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!-- Field 1 -->
                                    <div class="col-sm-12 animated">
                                        <div class="input-text form-group">
                                            <input  id="contact_phoneno" type="tel"   onKeyPress="return checkPhone(event)" maxlength="11"  name="contact_phoneno" class="input-subject form-control" placeholder="phone Number" required />
                                        </div>
                                    </div>
                                </div>
                                <!-- Field 3 -->
                                <div class="textarea-message form-group animated">
                                    <textarea id="contact_message" name="contact_message" class="textarea-message form-control" placeholder="Message" rows="9" required ></textarea>
                                </div>
                                <!-- Button -->
                                <button class="btn btn-default btn-light" type="submit" id="sendingbtn" value="Send Request">Send Request</button>
                            </form>
                            <!-- Form Ends -->
                        </div>
                    </div>
                </div>
                <!-- Consultant Form Block -->
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->
