<section id="footer" class="footer-section section-light">

				<div class="row animated owl-btn-left-right ">
                    <div class="col-xs-12 text-center">
                        <div class="copy-rights cabin">
                            <p class="no-margin">&copy;2016 PRIMEX PRIME ELECTRONIC EXECUTION INC. All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
        </section>
        <!-- Section Ends -->
        <!-- Scripts Begins -->
        <!-- Scripts Begins -->
				<script src="js/jquery.js"></script>
				<script src="js/bootstrap.js"></script>
				<script src='js/owl.js'></script>
				<script async src='js/jquery.easing.js'></script>
				<script async src='js/jquery.appear.js'></script>
				<script async src="js/js-webshim/minified/polyfiller.js"></script>
        <script>
				/* lowercase function to lowercase email in form */
				$('#email').keyup(function() {
					this.value = this.value.toLowerCase();
				})
        /*  Check form phone number textbox and only allow numbers to be typed in textbox */
        function checkPhone(evt) {
            evt = (evt) ? evt : window.event
            var charCode = (evt.which) ? evt.which : evt.keyCode
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                status = "This field accepts numbers only."
                return false
            }
            status = ""

            return true;
        }
        </script>
