        <div id="page-header" class="page-header-section section-light margin40-top">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="page-tile-block">
                            <h2 class="">Services</h2>
                        </div>
                        <ol class="breadcrumb">
                            <li><a href="index3.html">Home</a></li>
                            <li class="active">Services</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
        <!-- Page Header -->
        <!-- Section Begins -->
        <section id="global" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Investment Banking</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                           <p class="no-margin margin10-bottom cabin text-edited text15">PrimeX's offers a full range of investment banking services and seeks to work with companies with strong management teams, unique products, viable technologies, high growth potential, and a superior business model. By concentrating on companies with these properties, PrimeX strives to reduce the risk of investing in high growth/high potential enterprises.</p>

<p class="no-margin margin10-bottom cabin text-edited text15">Our strength lies in our commitment to long-term relationships that transcend the immediate transaction for our investment banking clients. In addition, our ability to raise private financings from both institutional and retail investors can benefit clients with start-up ventures unsuited for a public offering or lacking an established track record. The firm's seasoned team assesses the company's prospects by studying the business and its financial position. Based on this research, and in consultation with the company's senior management, PrimeX tailors the financing arrangement that will satisfy the company's requirements, while offering an attractive investment opportunity.</p>

<p class="no-margin margin10-bottom cabin text-edited text15">We offer a full range of corporate financial services including: 
    <br/>
    Initial Public Offerings
    <br/>
    Private Placements
    <br/>
    Convertible Debt and Preferred Offerings
    <br/>
    Secondary Offerings
    <br/>
    Merger and Acquisition Advisory Services
    <br/>
    Fairness Opinions
</p>

                        </div>     
                    </div>
                    <!-- Block Ends -->
   
                </div>
            </div>
            <!-- container -->
        </section>
        <!-- Section Ends -->
        <!-- Section Begins -->		
               <section id="sales" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Sales &amp; Trading</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                           <p class="no-margin margin10-bottom cabin text-edited text15">At PrimeX, whether your transaction is one hundred shares or a block trade, it receives the same professional attention and speed of execution. Individual investors benefit from the experienced trading capabilities that enable the firm to complete large, difficult, transactions on national exchanges.</p>
                             
                             <p class="no-margin margin10-bottom cabin text-edited text15">PrimeX has significant execution abilities in the over-the-counter market as well. PrimeX employs the best technology currently available in the marketplace to make executions competitive.</p>
                             
                            <p class="no-margin margin10-bottom cabin text-edited text18">Individual Investors</p>
                            <p class="no-margin margin10-bottom cabin text-edited text15">At Primex, trading is the last critical mile and our success is tied to the success of our clients. We achieve this through a variety of services meant to meet the needs of our clients. Our focus is to provide investment opportunities that are in our client's best interest.</p>                            
                            <p class="no-margin margin10-bottom cabin text-edited text15">We provide financial advice and expertise for:
                            <br/>
                            Individual Households
                            <br/>
                            Trusts
                            <br/>
                            Foundations
                            <br/>
                            Partnerships
                            <br/>
                            Corporations
                            </p>
                            <p class="no-margin margin10-bottom cabin text-edited text15">Our service comprehensively covers:
                            <br/>
                            Retirement Solutions
                            <br/>
                            Estate Planning
                            <br/>
                            Wealth Management
                            <br/>
                            Insurance
                            <br/>
                            Annuities
                            <br/>
                            Fixed Income
                            <br/>
                            Special Situations
                            </p>
                            <p class="no-margin margin10-bottom cabin text-edited text18">Fixed Income Trading</p>
                            <p class="no-margin margin10-bottom cabin text-edited text15">PrimeX executes transactions in Government, and Corporate Debt.  Our clearing relationship provides us with bond desks as well as the brokers broker market that they use for execution and quotes, giving them (and ultimately our clients) a well rounded picture of what bonds are available and at what competing prices. </p>
                        </div>     
                    </div>
                    <!-- Block Ends -->
   
                </div>
            </div>
            <!-- container -->
        </section>
 
        <!-- case-resolving -->
		<section id="questions" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Have questions for us?</h2>
                        <a href="index3.html#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section><!-- /case-resolving -->
        <!-- Section Ends -->	
       <!-- Section Begins -->		
               <section id="estate" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Real Estate</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                           <p class="no-margin margin10-bottom cabin text-edited text15">PrimeX is focused on helping our clients throughout the country locate Real Estate Investment Trusts (REITs), Delaware Statutory Trusts (DST), Tenant-In-Common (TIC) and Fractional Triple Net (NNN) properties that are not available through most investment advisors and real estate agents.</p>
                            <p class="no-margin margin10-bottom cabin text-edited text18">1031 Properties</p>
                            <p class="no-margin margin10-bottom cabin text-edited text15">Most of our clients involved in 1031 exchanges do not want the burden of daily property management inherent in owning investment real estate. Our management free DST, TIC and Fractional NNN properties can potentially be a much needed solution for clients looking for management free 1031 properties.</p>
                             <p class="no-margin margin10-bottom cabin text-edited text18">Nationwide Properties</p>
                             <p class="no-margin margin10-bottom cabin text-edited text15">PrimeX provides our clients with access to a large collection of REITs, DST, TIC and Fractional NNN properties nationwide. We are licensed throughout the country and United States territories. For more information on our available properties email or call us today.</p>
                        </div>     
                    </div>
                    <!-- Block Ends -->
   
                </div>
            </div>
            <!-- container -->
        </section>	
        <!-- Section ends -->
       <!-- Section Begins -->		
               <section id="wealth" class="about-section border-hidden">
            <div class="container">
                <!-- Title Block -->
                <div class="row">
                    <div class="col-xs-12">
                        <div class="title-block animated">
                            <h2 class="section-title">Wealth Management</h2>
                        </div>
                    </div>
                </div>
                <!-- Title Ends -->
                <!-- Content Begins -->  
                <div class="row">
                    <!-- Block Begins -->
                    <div class="col-sm-12">
                         <div class="content-block text-justify">
                           <p class="no-margin margin10-bottom cabin text-edited text15">With over two decades of experience, PrimeX's financial advisors strive to provide excellent investment management services. Our size and independence allow our advisors to provide undivided attention and dedicated service. We take great pride in fully understanding the unique needs of each of our clients.</p>
                             
                            <p class="no-margin margin10-bottom cabin text-edited text15">PrimeX offers a full suite of investment options and services including:
                                <br/>
                                Retirement Planning
                                <br/>
                                Estate Planning
                                <br/>
                                Investment Advisory
                                <br/>
                                Insurance & Annuities
                                <br/>
                                Education Funding
                                <br/>
                                401 (k) and IRAs</p>
                             
                             <p class="no-margin margin10-bottom cabin text-edited text15">Our experienced advisors employ a long-term perspective to managing and achieving your financial goals. The end result is a comprehensive, customized program designed for your specific needs.</p>
                             
                             <p class="no-margin margin10-bottom cabin text-edited text15">The Primex goal is to provide outstanding performance to help you achieve your financial goals.</p>
                        </div>     
                    </div>
                    <!-- Block Ends -->
   
                </div>
            </div>
            <!-- container -->
        </section>
       <!-- case-resolving -->
		<section id="case-resolving" class="text-center bg-image bg-charm">
             <div class="overlay color"></div>
             <div class="container z-index9 relative">
                <div class="row">
                    <div class="col-xs-12 text-center upper animated">
                        <h2 class="text-white text32 text300 no-margin">Are you ready to safeguard your Future?</h2>
                        <a href="index3.html#consult" id="scroll" class="btn btn-sm btn-light margin40-top">Contact Us</a>
                    </div>
                </div>
            </div>
		</section>