/* =========================== COLOR CSS FILE ===================================== */
::-moz-selection {
    background: #222;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #222;
    color: #fff;
    text-shadow: none;
}
/* -------------------------------
	***** Background Color *****
--------------------------------*/
.color-bg,
/* Hover Bg color */
.hvr-theme-bg-color-parent:hover .hvr-theme-bg-color,
/* Countdown */
.count-dark.period-top.period-color .countdown-period,
/*btn */
.btn:after,
.btn:after,
.btn.active,
/* Owl Btn */
.theme-color-owl-btn .owl-buttons div:hover,
.owl-page.active,
/* tooltip */
.tooltip-theme-bg .tooltip-inner,
.icon-border:hover,
.icon-border:focus,
.icon-border.active,
/* pagination */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > a.active,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > span.active,
/* Social Links Color */
.social-links.color li a,
/* Tags */
.widget-tag > li a:hover,
.widget-tag > li a:focus,
.widget-tag > li a.active,
/* Filter */
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-pills > li > a.active,
.navbar-default .navbar-toggle, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus,
.pager li > a, .pager li > a
{
	background-color: #175C85;
}
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu .sub-menu a:hover,
.dropdown-menu .sub-menu a:focus
{
	background-color: #175C85 !important;
}


.color-bg.dark-color
{
	background-color: #044062;
}
.color-bg.light-color
{
	background-color: #24719D;
}


/* -------- Bg rgba ------------- */
.effect-parent .effect.color,
.overlay.color{background:rgba(23, 92, 133, 0.8)}


/* -------------------------------
	***** Color *****
--------------------------------*/
.color-text,
.color-owl-btn .owl-buttons div,
.hvr-color-text:hover,
.hvr-color-text:focus,
.hvr-color-text.active,
.hvr-color-text-parent:hover  .hvr-color-text,
.hvr-color-text-parent:focus  .hvr-color-text,
/* Social Links */
.social-links li a:hover, .social-links li a:focus, .social-links li a.active,
/* Nav Menu */
#header nav ul.nav-main li.active,
/* Btn */
.btn,
.btn.btn-light:hover, .btn.btn-light:focus, .btn.btn-light.active, .btn.active:hover,
/* Owl Btn */
.owl-buttons div:hover,
/* Nav Tabs */
.nav-tabs > li > a i,
/* Panel */
.panel-heading a,
.panel-heading a:hover,
/* Breadcrumbs */
.breadcrumb > .active,
/* Category Wisget */
.widget-cat li a:focus, .widget-cat li a:hover,
/* New */

.pager li > a:hover, .pager li > a:hover
{
	color: #175C85;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a.active
{
color:#FFF;
background-color:#175c85;
}


/* -------------------------------
	***** Border Color *****
--------------------------------*/
.theme-color-owl-btn .owl-buttons div,
/* pagination */
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > a.active,
.pagination > li > span:focus,
.pagination > li > span:hover,
.pagination > li > span.active,
/* Owl Pagination */
/* Owl Btn */
.theme-color-owl-btn .owl-buttons div:hover,
.owl-page.active,
/* Social Links */
.social-links li a:hover, .social-links li a:focus, .social-links li a.active,
/* Social Links Color */
.social-links.color li a,
/* Widget */
.widget-tag > li a:hover,
.widget-tag > li a:focus,
.widget-tag > li a.active,
/* Blockquote */
blockquote,
/*btn */
.btn:hover, .btn:focus, .btn.active,
.dropdown-menu, .sub-menu,
/* Side widget */
.widget h4,
/* Border */
.left-border-3

{
	border-color: #175C85;
}

/* -------------------------------
	***** Border Right Color *****
--------------------------------*/
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:before
{
	border-right-color: #175C85;
}

/* -------------------------------
	*****   Nav Span Color     *****
--------------------------------*/
.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
